.circle-bjr{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s ease-out;
    stroke: var(--color-secondary);
    transform: rotate(-90deg);
    transition: 2s;
    transform-origin: 89px 89px;
    fill: none;
}

@keyframes dash {
    from {
        stroke: var(--color-secondary);
    }

    to {
    stroke-dashoffset: 0;
    stroke: var(--color-text);
    }
}

  

.intro-bjr{
    animation: intro-bjr 1s 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
    transition: .2s;
    pointer-events: none;


    svg{
        padding: 4rem;
        fill: none;
        width: 18rem;
        height: 18rem;
        overflow: visible;
    }
}

@keyframes intro-bjr {

    to {
        opacity: 0;
    }

}
