@keyframes dash {
    from {
        stroke: var(--color-secondary);
    }

    to {
    stroke-dashoffset: 0;
    stroke: var(--color-text);
    }
}

.circle-bjr{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s ease-out;
    stroke: var(--color-secondary);
    transform: rotate(-90deg);
    transition: 2s;
    transform-origin: 89px 89px;
    fill: none;
}

@keyframes intro-bjr {

    to {
        opacity: 0;
    }

}

.intro-bjr{
    animation: intro-bjr 1s 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
    transition: .2s;
    pointer-events: none;


    svg{
        padding: 4rem;
        fill: none;
        width: 18rem;
        height: 18rem;
        overflow: visible;
    }    
}    

.type-rotate:hover path{
    transform:rotate(180deg);
 }
 
 .type-rotate path{
     transform-origin:center;
     transition-duration: 2s;
 }
 
 .diameter-rotate:hover{
     transform:rotate(100deg);
     transition: 0.5s;
 }
 
 .mass-rotate:hover, .satellites-rotate:hover{
     transform:rotate(-30deg);
     transition: 0.5s;
 }
 
 .rotation-rotate{
     transition: 0.2s all;
 }
 
 .rotation-rotate:hover{
     transform-origin: center;
     transform:rotate(360deg);
 }
 
 .gravity:hover > .middle-line{
     animation: salut 2s;
     transition: 2s all;
 }
 
 @keyframes salut {
 
     to {
         transform: translateY(6px);
     }
 
 }
 
 .gravity:hover > .extreme-line{
     animation: aurevoir 2s;
     transition: 2s;
 }
 
 @keyframes aurevoir {
 
     to {
         transform: translateY(-3px);
     }
 
 }
 
 
 .temperature:not(:hover) .bisou{
     transform: translateY(33px);
 }
 
 
 .bisou{
     transition: 0.5s;
 }
 