/* Exceptions 
================================================================================ */

::-webkit-scrollbar,
.hidden,
.logo__text {
    display: none;
}

.team__list--desktop {
    display: none;

    @media (min-width: 640px) {
        display: block;
    }
}

.team__list--mobile {
    @media (min-width: 640px) {
        display: none;
    }
}

.hide-mobile {
    display: none;

    @media (min-width: 900px) {
        display: block;
    }
}

.hide-desktop {
    @media (min-width: 900px) {
        display: none;
    }
}

.tablet {
    display: none;

    @media (min-width: 728px) {
        display: flex;
    }

    @media (min-width: 1024px) {
        display: none;
    }
}

::-moz-selection {
    color: white;
    background: rgba(115, 85, 113, .5);
}

::selection {
    color: white;
    background: rgba(115, 85, 113, .5);
}