/* Exceptions 
================================================================================ */

::-webkit-scrollbar {
    display: none;
}

.hidden{
    display: none;
}

.logo__text{
    display: none;
}
