/* Header & Footer 
================================================================================ */

/* experimentation - nav */

.btn{
    background-color: transparent;
    border: none;
    padding: 0 1.5rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &--type{
        padding-left: 0px;
    }

    &--satellites{
        padding-right: 5rem;
    }

    &__text{
        display: none;
    }
}


.header{
    position: relative;
    z-index: 20;

    &--exp{
        position: fixed;
        background-color: var(--color-bg);
        top: 0;

    }

    &--landing{
        height: 100vh;
        margin: 0rem 3.8rem;    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link{
        svg{
            position: relative;
            left: 5px;
            top: 1px;
        }
    }
}

.nav{
    // width: 100vw;
    width: calc(100vw - 10.6rem);
    display: flex;
    height: 11.2rem;
    align-items: center;
    overflow-x: scroll;
    margin-left: 10.6rem;

    &::after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: var(--color-primary);
        top: 112px;
        left: 0;
    }

    &::before {
        content: "";
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 75px;
        background: -webkit-gradient(linear, right top, left top, from(#000000), to(#0000001f));        
        pointer-events: none;
    }
    
    &-icons{
        display: flex;
        margin: 0px;
        // height: 2rem;
        align-items: center;
        // top: 2px;
        top: -2px;
        position: relative;

        &__item{
            position: relative;
            top: 6px;
        }
    }
}

.footer{
    margin: 0rem 3.8rem;   
}


