/* Header & Footer 
================================================================================ */

/* experimentation - nav */

.btn{
    background-color: transparent;
    border: none;
    padding: 0 2rem;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px){
        padding: 0px;
    }

   
    &__text{
        display: none;
        color: white;
        order: 2;
        font-size: 1.3rem;
        letter-spacing: .08rem;
        position: absolute;
        top: 6rem;
    }

    // &:hover > &__text{
    //     display: block;
    //     color: white;
    // }


    &__icon{
        &--satellites{
            padding-bottom: 0px;
        }
    }

    &--satellites{

        @media (min-width:728px){
            padding-right: 0px;
        }
    }
}


.header{
    position: relative;
    z-index: 20;

    &--exp{
        position: fixed;
        background-color: var(--color-bg);
        top: 0;

    }

    &--landing{
        height: 100vh;
        margin: 0rem 3.8rem;    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.nav{
    // width: 100vw;
    width: 100vw;
    display: flex;
    height: 14rem;
    align-items: center;
    overflow-x: scroll;
    margin-left: 10.6rem;

    @media (min-width:728px){
        margin-left: 0px;
        justify-content: center;
    }

    @media (min-width:1024px){
        height: 100vh;
        width: 16rem;    
        margin-top: 5rem;
    }

    
    &::after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: var(--color-primary);
        bottom: 0;
        left: 0;
        z-index: 20;

        @media (min-width:1024px){
            width: 1px;
            height: 100vh;
            right: -1px;
            left: inherit;
            top: 0;
        }
    }

    &::before {
        content: "";
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 205px;
        background: -webkit-gradient(linear, right top, left top, from(#000000), to(#0000001f));
        pointer-events: none;   

        @media (min-width:728px){
            background: none;
        }
    }
    
    &-icons{
        display: flex;
        margin: 0px;
        top: -6px;
        position: relative;
        align-items: baseline;
        padding-right: 13rem;

        @media (min-width:728px){
            padding-right: 0px;
        }

        @media (min-width:1024px){
            flex-direction: column;
            align-items: center;
        }

        &__item{
            @media (min-width:1024px){
                padding-bottom: 5rem;

                &:last-of-type{
                    padding-bottom: 0px;
                }
            }

            &--diameter, &--mass{
                @media (min-width:1024px){
                    padding-bottom: 4rem;
                }
            }
        }

    }
}

.footer{
    margin: 0rem 3.8rem;   
    padding-top: 5rem;
    background-color: var(--color-bg);

    &__infos{
        position: relative;
        margin-bottom: 6rem;

        @media (min-width:600px){
            margin: 0rem 3rem;
        }

        &::after{
            content: "";
            position: absolute;
            width: 100vw;
            height: 1px;
            background-color: var(--color-secondary);
            bottom: -4rem;
            left: -3.8rem;
        }
        &-team-credits{
            display: flex;
            margin-bottom: 2rem;

            @media (min-width:600px){
                justify-content: space-between;
            }

            @media (min-width:900px){
                flex-direction: column;
            }
        }

    }

    &__copyright{
        display: flex;
        align-items: baseline;
        padding-bottom: 2rem;
    }
}

.team{
    margin-right: 12%;
}

.dwm {
    width: 50px;
    position: relative;
    padding-left: 19px;
    top: 4px;
    margin-left: auto;

    &__content {
        text-indent: 100%;
        white-space: nowrap;
        position: absolute;
    }
}
