/* Icons 
================================================================================ */

svg{
    fill: white;
}

.logo{
    position: absolute;
    left: 2em;
    border: none;
    display: inline-block;
    overflow: hidden;
    background-color: #000;
    z-index: 10;
    top: 50%;
    transform: translateY(-45%);
    height: 38px;

    svg{
        width: 2em;
        height: 2em;
    }

    &--landing{
        top: 5rem;
        left: 0;
        background: none;

        svg{
            width: 6em;
        }
    }

    &::after{
        content: "";
        position: absolute;
        width: 92px;
        height: 71px;
        bottom: -12px;
        left: -31px;
        z-index: -1;
    }

    &__text{
        text-indent: 100%;
        white-space: nowrap;
        position: absolute;    
    }
}

.btn{
    svg{
        fill: var(--color-primary);  
    }

    &__icon{
        width: 1.5em;
        height: 1.5em;
    
        &--distance{
            width: 2em;
            height: 2em;    
        }
    
        &--mass{
            position: relative;
            top: -3px;
            width: 2.5em;
            height: 2.5em;  
        }
    }  
}

.how-intro__icons{
    width: 23rem;
    position: relative;
    top: -2rem;
}

.icons-part2, .icons-part1{
    display: flex;
    justify-content: space-between;
}

.icons-part1{
    margin-bottom: 4rem;
}