/* Icons 
================================================================================ */

svg{
    fill: white;
}

.logo{
    position: absolute;
    left: 2em;
    border: none;
    display: inline-block;
    overflow: hidden;
    background-color: #000;
    z-index: 10;
    top: 50%;
    transform: translateY(-45%);
    height: 38px;
    
    svg{
        width: 1.8em;
        height: 1.8em;
    }

    &--exp{
        @media (min-width:1024px){
            top: 7rem;
            left: 6rem;
        }
    }

    &--landing{
        top: 5rem;
        left: 0;
        background: none;

        @media (min-width: 728px){
            width: 12rem;
            top: 6rem;
            left: -5rem;
        }

        @media (min-width: 1200px){
            left: -9rem;
        }

        svg{
            width: 12rem;

            @media (min-width: 1020px){
                width: 10rem;
            }
        }
    }

    &::after{
        content: "";
        position: absolute;
        width: 92px;
        height: 71px;
        bottom: -12px;
        left: -31px;
        z-index: -1;
    }

    &__text{
        text-indent: 100%;
        white-space: nowrap;
        position: absolute;    
    }
}

.btn{
    svg{
        fill: var(--color-primary);  
        transition: .3s all;

        &:hover{
            fill: var(--color-text);  
        }
    }

    &__icon{
        width: 1.5em;
        height: 1.5em;
    
        &--distance{
            width: 2em;
            height: 2em;    
        }
    
        &--mass{
            position: relative;
            top: 1rem;
            width: 2.5em;
            height: 2.5em;  

            @media (min-width:1024px){
                top: 0px;
            }
        }
    }  
}

.how-intro__icons{
    width: 23rem;
    position: relative;
    top: -2rem;
}

.icons-part2, .icons-part1{
    display: flex;
    justify-content: space-between;
}

.icons-part1{
    margin-bottom: 4rem;
}

.svg--dwm{
    width: 39px;
    height: 20px;
}


.link{
    svg{
        position: relative;
        left: 1px;
        top: 1px;
    }
}

.link--back{
    svg{
        position: relative;
        left: 0;
        top: 1px;
        transform: rotate(180deg);
        margin-right: 1rem;
    }
}

.btn-icon--active{
    fill: white;
}

// .rot-hover:hover{

//           transition: 0.70s;
//           transform: rotate(360deg);       
//           transform-origin: center center; 
// }

