/* Images 
================================================================================ */
.img{
  width: 100%;
  &--planet-landing{
    width: 98.88px;
    height: 98.88px;
    border: 1px solid var(--color-secondary);
    padding: 5.9vw;
    border-radius: 50%;  
  }

  
  &--planet-exp{
    width: 50vw;
    height: 50vw;
  } 

  &--planet-border{
    border: 1px solid var(--color-primary);
    padding: 5.9vw;
    border-radius: 50%;
  }
  
  &--mercury{
    width: 10%
  }

  &--venus{
    width: 30%
  }

  &--earth{
    width: 35%
  }

  &--mars{
    width: 20%
  }

  &--jupiter{
    width: 85%
  }

  &--saturn{
    width: 65%
  }

  &--uranus{
    width: 50%
  }

  &--neptune{
    width: 45%
  }

  &--intro{
    position: absolute;  
    z-index: -20;
    top: 50%;
    transform: translateY(-45%);
    width: 114Vw;
    left: -17rem;
    z-index: -10;
  }
}

.planet::before{
    content: "";
    position: absolute;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 333px;
    height: 213px;
    top: calc(58% + 5.9vw);
    background: linear-gradient(0deg, #323B55, #323B55);
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(124px);
    transform: rotate(-90deg);
}

.planet{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.svg--dwm{
width: 39px;
height: 20px;
}

.arrow-back{
  transform: rotate(-180deg);
  margin-right: .5rem;
}