/* Layout 
================================================================================ */

body{
    background-color: black;
    color: white;
    font-weight: 300;
}

/* général */
a{
    text-decoration: none;
    color: var(--color-text);
}

ul{
    padding: 0px;
}

li{
    list-style-type: none
}

.lines{
    &::before{
        content: "";
        height: 430vh;
        width: 1px;
        background-color: var(--color-secondary);
        position: absolute;
        top: -220vw;
        left: 33%;
        z-index: -20;
    }
    &::after{
        content: "";
        height: 430vh;
        width: 1px;
        background-color: var(--color-secondary);
        position: absolute;
        top: -220vw;
        right: 33%;
        z-index: -20;
    }

}

.link--right{
        align-self: flex-end;
}


/* planet-bullets */
.planet-bullet{
    width: 0px;

    + span{
        color: var(--color-primary);
    }

    &:checked + span{
        font-weight: 800;
        color: var(--color-text);
    }
}

.main{
    max-width: 1600px;
    margin:6.0rem 3.5rem 15.0rem;

    &--exp{
        margin-top: 14rem;
    }

    &--view-all{
        margin: 12rem 0px;
    }

    &--landing{
        position: relative;

        &::after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: var(--color-primary);
        bottom: 112px;
        left: 0;
        }
    }
}

/* section planetes landing */

.section--planets{
    display: flex;
    flex-direction: column;

    .p-big{
        margin: 14rem 0px;
    }
}

.block-planets{
    position: relative;
    transform: translateX(-6rem);
    left: 25%;

    
    &__item{
        display: flex;
        margin-bottom: 7rem;
        align-items: center;
    }

    &-text{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }

}


.planet-all{
    text-align: center;
    margin: 0px;

    &__item{
        padding: 6rem 0px;
        border-bottom: 1px solid var(--color-secondary);
    }
}

.link--back{
    margin-top: 2.9rem;
}


.planet-name{
    margin-top: 4.1rem;
    margin-bottom: 3.8rem;
    display: flex;
    justify-content: space-evenly;
}

.btn-icon--active{
    fill: white;
}

.section--how{
    display: flex;
    flex-direction: column;

    p{
        margin-top: 0;
    }
}

.how-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.swiper-container {
    height: 300px;
    position: absolute;
    left: 0;
    width: calc(100% + 7.5rem);
    position: relative;
    left: -3.8rem;
  }

  .swiper-wrapper{
      align-items: center;
  }

  .swiper-slide{
      width: 236px;
      height: 236px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .swiper-slide img{
    width: 140px;
    height: 140px;
  }

  .swiper-slide-active{
      transform: scale(1.37);
      transition: .4s;
  }