/* Layout 
================================================================================ */

body{
    background-color: black;
    color: white;
    font-weight: 300;
}

/* général */
a{
    text-decoration: none;
    color: var(--color-text);
}

ul{
    padding: 0px;
}

li{
    list-style-type: none
}

.lines{

    &::before{
        content: "";
        height: 3303px;
        width: 1px;
        background-color: var(--color-secondary);
        position: absolute;
        top: 0;
        left: 33%;
    }
    &::after{
        content: "";
        height: 3303px;
        width: 1px;
        background-color: var(--color-secondary);
        position: absolute;
        top: 0;
        right: 33%;
    }

}

.link--right{
        align-self: flex-end;
}


/* planet-bullets */
.planet-bullet{
    width: 0px;

    + span{
        color: var(--color-primary);
    }

    &:checked + span{
        font-weight: 800;
        color: var(--color-text);
    }
}

.main{
    max-width: 1600px;
    margin:6rem 3.5rem 20rem;

    &--exp{
        margin-top: 14rem;
    }

    &--view-all{
        margin: 12rem 0px;
    }

    &--landing{
        position: relative;

        &::after{
            content: "";
            position: absolute;
            width: 100vw;
            height: 1px;
            background-color: var(--color-secondary);
            bottom: -200px;
            left: -3.8rem;
        }
    }
}

/* section planetes landing */

.section--planets{
    display: flex;
    flex-direction: column;

    .p-big{
        margin: 14rem 0px;
    }
}

.block-planets{
    position: relative;
    transform: translateX(-6rem);
    left: 25%;

    
    &__item{
        display: flex;
        margin-bottom: 7rem;
        align-items: center;
    }

    &-text{
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

}


.planet-all{
    text-align: center;
    margin: 0px;

    &__item{
        padding: 6rem 0px;
        border-bottom: 1px solid var(--color-secondary);
    }
}

.link--back{
    margin-top: 2.9rem;
}

.link{
    svg{
        position: relative;
        left: 5px;
        top: 1px;
    }
}


.planet-name{
    margin-top: 4.1rem;
    margin-bottom: 3.8rem;
    display: flex;
    justify-content: space-evenly;
}

.btn-icon--active{
    fill: white;
}

.section--how{
    display: flex;
    flex-direction: column;

    p{
        margin-top: 0;
        margin-bottom: 4rem;
    }
}

.how-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
    height: 535px !important;
    color: wheat;
    border: 1px solid white;
}

.swiper-pagination {
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}

.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
	color:#fff;
}