/* Type
================================================================================ */

html {
    font-size: 62.5%;
    // overflow: hidden;
}

body{
    font-family: "Bandeins Strange";
    font-size: 1.9rem; 
    font-weight: 300;
    letter-spacing: .18rem;
    line-height: 1.6;
}


.title{
    font-size: 4.4rem;
    line-height: 1;
    margin: 0;

    &--planet{
        padding: 43px 0px; 
    }

    &--planet-landing{
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &--planet-exp{
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 300;
    }

    &--footer{
        font-size: 19px;
        font-weight: 800;
    }

    &--how{
        font-size: 39px;
        font-weight: 800;
        padding: 43px 0px;
    }
}

.link{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.15em;

    &--footer{
        letter-spacing: 0.05em;
    }
}

.p-big{
    font-size: 34px;
    font-weight: 800;
    line-height: 1.4;
}


.copyright{
    font-size: 15px;
}

p{
    margin: 0;
}
// .i




