/* Variables 
================================================================================ */

:root {
    --color-bg:black;
    --color-text: white;
    --color-primary: #8E8E8E;
    --color-secondary: #303030;
}




// @font-face {
//     font-family: "Bandeins Strange";
//     src: url(../fonts/BandeinsStrange-Light.woff2) format("woff2");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Bandeins Strange";
//     src: url(../fonts/BandeinsStrange-SemiBold.woff2) format("woff2");
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: "Bandeins Strange";
//     src: url(../fonts/BandeinsStrange-Bold.woff2) format("woff2");
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }